html {
    background-color: #ffffff;
    font-family: "Lucida Grande", serif;
    height: 100%;
}

body {
    margin: 0 auto;
    text-align: center;
}

label {
    font-weight: bolder;
}

.title {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;

    text-align: center;
    background: url("bookBackground.jpeg");
    border-radius: 1%;
}

#newBook {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#status {
    text-align: center;
    color: red;
    margin-top: 50px;
}

#root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.book {
    width: 150px;
    height: 300px;

    text-align: center;
    font-weight: bolder;

    background: url("bookBackground.jpeg");
    border: dashed black 2px;

    display: flex;
    flex-direction: column;
}

.bookLine {
    height: 50px;
}

.book p {
    padding-bottom: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background: url("bookBackground.jpeg");
}