html {
    background-color: #3c3c3c;
    height: 100%;
}

.title {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;

    text-align: center;
    background: url("bookBackground.jpeg");
    border-radius: 1%;
}

#status {
    text-align: center;
    color: red;
    margin-top: 50px;
}

#root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.book {
    width: 150px;
    height: 300px;

    overflow: scroll;
    text-align: center;
    font-weight: bolder;

    background: url("bookBackground.jpeg");
    border: dashed black 2px;

    display: flex;
    flex-direction: column;
}

.bookLine {
    height: 50px;
}

.book p {
    padding-bottom: 25px;
}